@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Health Checks in ASP.NET Core</h1>
    <h2>Complete tutorial at - <a href="https://www.yogihosting.com/aspnet-core-health-checks/">How to perform Health checks in ASP.NET Core</a>.</h2>
<p>Check the Program class to see the health checks and inside the "Models" folder you will find all the health checks and probes.</p>
</div>
